.wrapper{
    padding: 5px 10px;
    display: flex;
    &.self {
        transform: rotateY(180deg);
        .item {
            > div:nth-of-type(2) {
                .message{
                    transform: rotateY(180deg);
                    border-radius:  10px 0 10px 10px;
                }
                
            }

        }
    }
    .item {
        display: flex;
        flex: none;
        > div:nth-of-type(1) {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: red;
        }
        > div:nth-of-type(2) {
            display: flex;
            position: relative;
            padding-top: 20px;
            .message {
                background-color: rgba($color: #fff, $alpha: 0.8);
                max-width: 150px;
                word-wrap:break-word;
                word-break: break-all;
                margin-left: 10px;
                border-radius: 0 10px 10px 10px;
                display: flex;
                align-items: center;
                padding: 5px;
            }
            .arrows{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 15px 0;
                border-color: transparent hsla(0,0%,100%,.8) transparent transparent;
                position: absolute;
                left: 3px;
            }
        }
    }
}