.wrapper {
    display: flex;
    padding: 5px 10px;
    &.self {
        transform: rotateY(180deg);
        .item {
            .avatar {
                background-color: #fff;
                transform: rotateY(180deg);
            }
            .right {
                .nicknameTime {
                    .nickname,
                    .createdAt {
                        transform: rotateY(180deg);
                    }
                }
                .message {
                    transform: rotateY(180deg);
                    border-radius: 10px 0 10px 10px;
                }
            }
        }
    }
    .item {
        display: flex;
        flex: none;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-size: 100% 100%;
        }
        .right {
            position: relative;
            margin-left: 10px;
            .nicknameTime {
                display: flex;
                height: 20px;
                align-items: flex-end;
                .nickname {
                    color: #333;
                    font-size: 13px;
                    margin-left: 6px;
                    user-select: text;
                }
                .createdAt {
                    color: #666;
                    font-size: 12px;
                    margin-left: 8px;
                }
            }
            .message {
                display: inline-block;
                padding: 5px;
                background-color: rgba($color: #fff, $alpha: 0.8);
                max-width: 250px;
                word-wrap: break-word;
                word-break: break-all;
                border-radius: 0 10px 10px;
                :global .emoji {
                    width: 30px;
                    height: 30px;
                    margin: 0 2px;
                    background-repeat: no-repeat;
                    background-size: 30px auto;
                    background-image: url('../../../assets/emoji-sprit.png');
                }
                .imgWrapper {
                    img {
                        cursor: pointer;
                        max-width: 100%;
                        max-height: 500px;
                    }
                }
            }
            .arrows {
                position: absolute;
                left: -7px;
                top: 20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 15px 0;
                border-color: transparent hsla(0, 0%, 100%, 0.8) transparent
                    transparent;
            }
        }
    }
}
