.header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    border-bottom: 1px solid hsla(0,0%,82%,.6);
    justify-content: space-between;
    .title {
        color: #333;
    }
    .icon {
        color: rgba(6,147,227,1);
        font-size: 16px;
        cursor: pointer;
    }
}