.chatPanel {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: hsla(0,0%,95%, .8);

    .content {
        flex: 1;;
        overflow-y: auto;
    }

    .editor {
        height: 50px;
    }
}