.editor {
    height: 100%;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    overflow: scroll;
    padding: 5px;
    outline: none;
    word-break: break-all;
    overflow-wrap: break-word;
}