.app {
  display: flex;
  height: 100%;

  .layout {
    display: flex;
    flex: auto;

    aside {
      width: 300px;
      background-color: #ff0;
    }

    .content {
      flex: 1;
      background-color: pink;
    }
  }
}